API_BASE_URL=https://rest.gohighlevel.com/v1
API_KEY=
ZAPIER_WEBHOOK_URL=
SUB_ACNT_API_KEYS=
LOCATION_ID=
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=
SUB_ACNT_API_KEY=


------web automations--------

KONNECTED_EMAIL = ''
KONNECTED_PASSWORD = ''

KONNECTED_IDS=


# Login wih google credential
TOKEN_PATH = 'token.json'
CLIENT_SECRET_PATH = 'client_secret.json'

ZAPIER_WEBHOOK_URL =


